@font-face {
  font-family: 'Montserrat Light';
  src: url(../style/fonts/Montserrat/Montserrat-Light.ttf)  format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url(../style/fonts/Montserrat/Montserrat-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url(../style/fonts/Montserrat/Montserrat-SemiBold.ttf)  format('truetype');
}

/* Side display */

.sidenav {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0px;
	right: 0;
	background-color: rgba(0,0,0,0.75);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 15px;
}

.sidenav a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	text-align: right;
	margin-right: 20px;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	width: inherit;
	position: absolute;
	top: 15px;
	right: 0px;
	text-align: right;
	font-size: 46px;
}

.sidenav .closebtn a {
	text-align: right;
	font-size: 46px;;
}

.sidenav .open {
	z-index: 1;
	height: 90%;
	width: 50px;
	position: relative;
	display: inline-block;
	top: 0px;
	right: 0px;
	padding: 0px 0px 0px 0px;
    margin: 0px;
	cursor: pointer;
	transition: 0.5s;
	background: none;
}

.sidenav .open p {
	color: #ccc;
	font-size: 32px;
	font-family: "Montserrat Light";
	writing-mode: vertical-lr;
	text-orientation: upright;
	/*text-align: center;*/
	/*text-align: -moz-center;*/
	/*margin: 0px auto;*/
    margin-left: 5px;
}

.sidenav .open p:hover {
	color: #f1f1f1;
}

.sidenav .main {
	z-index: 1;
	height: 90%;
	width: 0px;
	position: absolute;
	display: inline-block;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 0.5s;
	background: none;
	color: #ccc;
	font-size: 32px;
	font-family: "Montserrat Light";
}

.sidenav .main .header {
	width: inherit;
	background: none;
	color: #ccc;
	font-size: 32px;
	font-family: "Montserrat Light";
	letter-spacing: 3px;
	cursor: pointer;
	margin-left: 20px;
	display: inline-block;
}

.sidenav .main .header:hover {
	color: #f1f1f1;;
}

.sidenav textarea {
	background: none;
	color: #f1f1f1;
	margin: 50px 20px 50px 20px;
}

.sidenav .chevron-box {
	position: relative;
	bottom: 0px;
	left: 0px;
    width: 50px;
	display: inline-block;
	margin: 0px;
}

.chevrons-down {
	position: relative;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	color: #ccc;
	writing-mode: vertical-lr;
	font-size: 32px;
	font-family: "Montserrat Light";;
	margin: 0px;
	background-image: url(images/arrow_down.png);
    background-repeat: no-repeat;
    background-size: 50px;
    opacity: 0.7;
}

.chevrons-down:hover {
	opacity: 1;
}

.chevrons-up {
	position: relative;
	top: 0px;
	left: 0px;
    width: 50px;
    height: 50px;
	color: #ccc;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 32px;
	font-family: "Montserrat Light";
	margin: 0px;
    background-image: url(images/arrow_up.png);
    background-repeat: no-repeat;
    background-size: 50px;
    opacity: 0.7;
}


.chevrons-up:hover {
	opacity: 1;
}

.chevrons-left {
	position: relative;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	color: #ccc;
	writing-mode: vertical-lr;
	font-size: 32px;
	font-family: "Montserrat Light";;
	margin: 0px;
	background-image: url(images/arrow_left.png);
	background-repeat: no-repeat;
	background-size: 50px;
}


.chevrons-left:hover {
	opacity: 1;
}

.chevrons-right {
	position: relative;
	top: 15px;
	left: 0px;
	width: 50px;
	height: 50px;
	color: #ccc;
	writing-mode: vertical-lr;
	font-size: 32px;
	font-family: "Montserrat Light";;
	margin: 0px;
	background-image: url(images/arrow_right.png);
	background-repeat: no-repeat;
	background-size: 50px;
}


.chevrons-right:hover {
	opacity: 1;
}

/* Bottom display */

.bottomnav {
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	background-color: rgba(80,148,233, 0.8); /* 84,153,254 */
	transition: 0.5s;
	padding-left: 20px;
}

#bottomNavUp {
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
}

.bottomFrame {
	background-color: white; /* bluer: 081a4d */
	background: rgba(80,148,233, 0.0); /* bluer: 081a4d */
}

.bottomnav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.bottomnav a:hover {
	color: #f1f1f1;
}

.bottomnav .open {
	z-index: 1;
	height: 50px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	padding: 0px 0px 0px 0px;
	cursor: pointer;
	transition: 0.5s;
	background: none;
}

.bottomnav .open .header {
	color: #ccc;
	font-size: 32px;
	font-family: "Montserrat";
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 3px;
	/*position: relative;
	top: 10px;
	left: 15px;*/
	height: 50px;
	cursor: pointer;
    padding-left: 10px;
}

.bottomnav .open .header:hover {
	color: #f1f1f1;
}

.bottomnav .main {
	z-index: 1;
	height: 0px;
	width: 100%;
	position: absolute;
	display: inline-block;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
	transition: 0.5s;
	background: none;
	color: #ccc;
	font-size: 32px;
	font-family: "Montserrat Light";
}

.bottomnav .main .header {
	background: none;
	color: #ccc;
	font-size: 32px;
	font-family: "Montserrat Light";;
	cursor: pointer;
	margin-left: 20px;
}

.bottomnav .main .header:hover {
	color: #f1f1f1;;
}

.bottomnav .chevron-box {
	/*position: relative;
	top: 5px;
	left: 20px;*/
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	padding-left: 5px;
}

iframe {
	border: 0px;
}

.bottomFramebox {
	margin-left: 5%;
	height:450px;
	width:85%;
	background: none;
	overflow-y: scroll;
}
