/*Colors: red (b41e40, 180,30,64), blue (5094e9, 80,148,233), yellow (fdbe11, 253, 190, 17)*/

@font-face {
    font-family: 'Montserrat Light';
    src: url(../style/fonts/Montserrat/Montserrat-Light.ttf)  format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../style/fonts/Montserrat/Montserrat-Regular.ttf)  format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../style/fonts/Montserrat/Montserrat-SemiBold.ttf)  format('truetype');
}

html {
	background: url(images/gears.png) no-repeat;
    background-size: 100%;
}

body {
    overflow: hidden;
}

/* Clickable areas */

.tapedeck {
    position: absolute;
    cursor: pointer;
    top: 50vh;
    left: 19vh;
    width: 42vh;
    height: 30vh;
    line-height: 30vh;
    font-family: "Montserrat Bold";
    font-size: 5vw;
    text-align: center;
    background-color: rgba(253, 190, 17, 0.0);
    color: rgba(255, 255, 255, 0.0);
}

.tapedeck:hover {
    background: rgba(253, 190, 17, 0.5);
    color: #fff;
}

.floater {
    position: absolute;
    top: 10vh;
    left: 10vh;
}

/* Pop up tape selector */

.popupoverlay {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 0vw;
    background: none;
    overflow: hidden;
}

.centerpopup {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 80vw;
    height: 80vh;
    min-width: 320px;
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
    line-height: 30vh;
    font-family: "Montserrat Bold";
    font-size: 5vw;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    transition: ease-in transform 0.2s;
    transform: scale(0);
    overflow: hidden;
}

.closeX {
	float: right;
    width: 5.2vh;
    height: 5.2vh;
    margin: 2vh 2vh 0vh 0vh;
    padding: 0;
	text-align: center;
	font-size: 5vh;
    line-height: 5vh;
    font-family: "Montserrat Light";
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.closeX a {
	text-align: center;
	font-size: 5vh;
}

.closeX:before {
    content: "\2715";
    text-decoration: none;
    font-family: "Montserrat Light";
}

.closeX:hover {
    color: rgba(255,255,255,1);
}

/* Display tapes */

.tapecontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    top: 8vh;
    left: 4vw;
    width: 72vw;
    min-width: 250px;
    height: 68vh;
    min-height: 170px;
    background-color: none;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.tapecontainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.tapebox-outer {
    display: block;
    width: 266px;
    height: 145px;
    text-align: center;
    background-size: 256px;
    background-position: center;
    background-color:rgba(253, 190, 17, 0.5);
}

.tapebox-inner {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 0px;
    width: 256px;
    height: 135px;
    margin: 0;
    /*padding: 0px auto;*/
    font-size: 24px;
    line-height: 1.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(180,30,64, 0);
    cursor: pointer;
}

.tapebox-inner p {
    margin: 0;
    width: 246px;
    /*padding: 2px 2px 2px 2px;*/
    position: absolute;
    font-size: 24px;
    line-height: 1.2em;
    padding: 5px;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
}

.tapebox-inner:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(180,30,64, 1);
}

/* Robot */

img.bot {
    height: 100%;
    display: block;
    margin: 0px; 
    padding: 0px;
}

.mouth {
    position: absolute;
    display: block;
    top: 32vh;
    left: 38vh;
    width: 2vh;
    height: 2vh;
}

.mouth img {
    border-radius: 50%;
    opacity: 0;
    width: 5.5vh;
    height: auto;
}

#mouth img {
    opacity: 0;
}

/* Audio controls */

.audiobox {
    display: block;
    margin: auto;
    height: 20vh;
    width: 80%;
    max-height: 250px;
    max-width: 500px;
    background: rgba(1, 51, 112, 0.8)
}

#audioplayer {
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

/* Accessible buttons */

.buttonbox {
    display: block;
    margin: 5vh auto;
    height: 20vh;
    width: 90vw;
}

.ticklebutton {
    display: inline-block;
    cursor: pointer;
    margin: 0vh 0vw 0vh 1vw;
    height: 20vh;
    width: 20vw;
    min-width: 110px;
    background: rgba(1, 51, 112, 0.8);
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat Bold";
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.2);
}

.ticklebutton:active {
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.6);
}

.ticklebutton:hover {
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.6);
    background: rgba(1, 51, 112, 0.6);
}

.buttonlabel {
    float: left;
    width: 100%;
    height: 3.5vh;
    margin: 0vh auto;
    padding: 2vh 0vw 0.5vh 0vw;
    /*background:rgba(73, 112, 1, 0.8)*/
}

.abc {
    color: fdbe11;
}

.yesno {
    color: #fff;
}

.onetwo {
    color: #fff;
    float: left;
    width: 100%;
    height: 6vh;
    margin: 0vh auto;
    padding: 1vh 0vw 1vh 0vw;
}

.circle {
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 5.5vh;
    height: 5.5vh;
    line-height: 5.5vh;
    margin: auto;
    background: #b41e40;
}